body {

}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
label{
    width:70px;
   
}
li{
    padding-left:5px;
   
}
/*.btn-danger{
    margin-top:10px;
}*/
/*.navbar-right{
    margin-top:10px;
}*/
footer{
   
    height:30px;
  
    background-color:dodgerblue;
    margin-top:120px;
}
.glyphicon-star{
    color:orange;
}
img:hover{
    cursor:pointer;
}
.glyphicon-star-empty{
    color:black;
}
.form-control{
    width:250px;
    margin-bottom:10px;
}