*{
    font-size:1.1em;
    font-family:'Times New Roman', Times, serif;
}

body {
   
   /* background-color:blue;*/
 

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.btnrezerviraj {
    border-radius: 10%;
}
footer{
    color:white;
    background-color:blue;
    height:70px;
}
button {
    
}
.btn {
    padding: 10px;
}
.title{
    font-size:20px;
}