.btn {
    border-radius: 15%;
   
}
/*.footer {
    height: 50px;
    background-color: blue;
    font-size: 50px;
}
p{
    color:black;
    font-size:40px;
}
.paneladd {
    background-color: blue;
}
.myclass{
    background-color:mistyrose;
}
*/